@import url('common/foundation/variables');
@font-face {
    font-family: CircularPro;
    src: url($circular-pro) format('woff');
}
html {
    font-size: $base-font-size-smaller;
}
body {
    font-family: CircularPro;
    background-color: $secondary;
}
.d-header {
    box-shadow: none;
    border-bottom: 1px solid $primary-low-mid;
    height: 5em;
    .d-icon {
        color: $primary-low-mid;
    }
    #site-logo {
        height: 4.667em;
    }
}


//Login Page
.docked.static-login {
    background-image: url($gradient-background);
    .d-header {
        z-index: -100;
    }
}
.login-required {
    width: 100%;
    text-align: center;
}
.body-page {
    max-width: 100%;
}
.btn-primary.sign-up-button {
    display: block;
    margin: 10px auto;
    width: 300px;
}
.btn-primary.login-button {
    display: block;
    margin: 10px auto;
    width: 300px;
}



//Reply Editor
.d-editor-button-bar .btn {
    color: $quaternary-low;
}
.navigation-container {
    .select-kit.combo-box {
        .select-kit-header {
            border-radius: 0.9em;
            background-color: $header-background;
            display: none;
        }
        &.category-drop, &.tag-drop {
            .select-kit-body .select-kit-collection {
                    background-color: $header-background;
                    border-top-left-radius: 0px;
                    border-top-right-radius: 0px;
                
            }
        }
    }
}


//List Controls 
.list-controls {
    // display: none;
    margin-top: 0px;
    margin-bottom: 0px;
}



//Latest Topics List 
.latest-topic-list-item .main-link, .latest-topic-list-item.visited a.title:not(.badge-notification)  {
    color: $quaternary;
}
.latest-topic-list-item {
    padding: 8px;
    border-bottom: 1px solid $primary;
}
.latest-topic-list-item .main-link {
    max-width: 100%;
     color: $quaternary;
}
.latest-topic-list-item .topic-stats {
     color: $quaternary;
     font-size: $base-font-size-smaller;
}
.latest-topic-list-item .topic-poster {
    display: none;
}




//Category List
.category-list .featured-topic .title{
    color: $quaternary;
}
.category-list .featured-topic a.last-posted-at, .category-list .featured-topic a.last-posted-at:visited,  {
    color: $quaternary-low;
}
.category-list td {
    color: $quaternary;
}
.category-list th, .table-heading, .latest-topic-list .table-heading {
    color: $primary;
    border-bottom: 4px solid #000;
    font-size: $font-up-1;
}
.categories-list .category .category-description {
    display: none;
}




.custom-background {
    height: 50px;
    width: 100px;
    background-image: url($gradient-background);
}